{% load static vng_api_common %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'vng_api_common/css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'vng_api_common/libs/fontawesome/css/all.min.css' %}">

    <link rel="icon" type="image/png" href="{% static 'vng_api_common/ico/favicon.png' %}">

    {% block extra_style %}{% endblock %}

    <title>{% block title %}{% if title %}{{ title }}{% else %}{{ settings.SITE_TITLE }}{% endif %} | {{ settings.PROJECT_NAME }}{% endblock %}</title>
  </head>
  <body>

    {% if not settings.SITE_TITLE or not settings.PROJECT_NAME %}
      <div class="container">
        Please add the variables <em>SITE_TITLE</em> and <em>PROJECT_NAME</em> to your <em>settings.py</em> and make
        sure they are available via <em>context processors</em>.
      </div>
    {% endif %}

    {% block content %}
      Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
      to get some actual content.
    {% endblock %}

    {% block footer %}
      <div class="container">
        <footer class="footer">
          <div class="footer__row">
            <div class="footer__item footer__logo">
              <img src="{% static 'vng_api_common/img/vng.svg' %}" alt="" width="96" height="50">
              <small>&copy; {% now "Y" %}</small>
            </div>
            <div class="footer__item">
              <h5>Resources</h5>
              <ul class="list">
                <li><a class="link link--muted" href="https://github.com/{{settings.SELF_REPO}}">Code op Github</a></li>
                <li><a class="link link--muted" href="https://github.com/{{settings.SELF_REPO}}/blob/master/README.rst">README</a></li>
                <li><a class="link link--muted" href="https://zaakgerichtwerken.vng.cloud/">Documentatie</a></li>
                <li><a class="link link--muted" href="https://zaken-auth.vng.cloud">Autorisaties</a></li>
                <li><a class="link link--muted" href="https://zgw-demo.vng.cloud">Demo app</a></li>
              </ul>
            </div>
            <div class="footer__item">
              {% if not request.get_host|is_local %}
                  <h5>Terms of use</h5>
                  <ul class="list">
                    <li><a class="link link--muted" href="https://zaakgerichtwerken.vng.cloud/beheer/gebruiksvoorwaarden">Terms</a></li>
                  </ul>
              {% endif %}
            </div>
            <div class="footer__item">
              <h5>Over Common Ground</h5>
              <ul class="list">
                <li><a class="link link--muted" href="https://commonground.nl/">Common Ground</a></li>
              </ul>
            </div>
          </div>

          {% if request.user.is_authenticated %}
            <div class="footer__row">
              <div class="footer__item footer__item--wide">
                <code>{{ settings.API_VERSION }}</code>
              </div>
              <div class="footer__item footer__item--wide footer__item--right">
                <code>{{ settings.GIT_SHA|default:"" }}</code>
              </div>
            </div>
          {% endif %}
        </footer>
      </div>
    {% endblock footer %}

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
